/blib/
/.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
/Makefile
/Makefile.old
/MANIFEST.bak
/META.yml
/META.json
/MYMETA.*
nytprof.out
/pm_to_blib
*.o
*.bs
/_eumm/
/data/config.php
/temp

.buildpath

.project

.settings/.jsdtscope

.settings/org.eclipse.php.core.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

.settings/org.eclipse.core.resources.prefs
/data/avatar
/data/afficheimg/*.jpg
/data/afficheimg/*.png
/data/afficheimg/*.db
/data/afficheimg/*.swf
