<!-- $Id: favourable_info.htm 14361 2008-04-07 09:26:17Z zhuwenyuan $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
{insert_scripts files="validator.js,../js/transport.org.js}
<div class="main-div">
<form method="post" action="countdown_goods.php" name="theForm" enctype="multipart/form-data" onSubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">{$lang.label_act_name}</td>
    <td><input name="act_name" type="text" id="act_name" value="{$countdown_goods.act_name}" size="40" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.label_start_time}</td>
    <td><input name="start_time" type="text" id="start_time" value="{$countdown_goods.start_time}" readonly="readonly" />
        <input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('start_time', '%Y-%m-%d %H:%M', '24', false, 'selbtn1');" value="{$lang.btn_select}" class="button_new" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.label_end_time}</td>
    <td><input name="end_time" type="text" id="end_time" value="{$countdown_goods.end_time}" readonly="readonly" />
        <input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('end_time', '%Y-%m-%d %H:%M', '24', false, 'selbtn2');" value="{$lang.btn_select}" class="button_new" /></td>
  </tr>
  <tr>
    <td class="label">{$lang.label_act_img}</td>
    <td><input type="file" name="act_img"  size="45">{if $countdown_goods.act_img neq ""}<input type="button" value="{$lang.drop_act_img}" onclick="if (confirm('{$lang.confirm_drop_act_img}'))location.href='countdown_goods.php?act=drop_act_img&id={$countdown_goods.act_id}'">{/if}
    <br /><span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="warn_actimg">{$lang.warn_actimg}</span>
    </td>
  </tr>
  <tr>
    <td class="label">{$lang.label_act_url}</td>
    <td><input name="act_url" type="text" id="act_url" value="{$countdown_goods.act_url}"></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" class="button_new" value="{$lang.button_submit}" />
      <input type="reset" class="button_new" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="{$form_action}" />
      <input type="hidden" name="id" value="{$countdown_goods.act_id}" />    </td>
  </tr>
</table>
</form>
</div>

{literal}
<script language="JavaScript">
<!--
onload = function()
{
    // 开始检查订单
    startCheckOrder();
//    changeRange(document.forms['theForm'].elements['act_range'].value);
//    changeType(document.forms['theForm'].elements['act_type'].value);
}
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.required('act_name', act_name_not_null);
    validator.required('act_url', act_url_not_null);
    validator.islt('start_time', 'end_time', start_lt_end);

    return validator.passed();
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
